<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sort1Port" value="5"/>
    <add key="sort2Port" value="6"/>
    <add key="sort3Port" value="8"/>
    <add key="ReaderCom" value="com9"/>
    <add key="ReadTxPower" value="2300"/>
    <!--<add key="ServerName" value="Matrikon.OPC.Simulation"/>-->
    <add key="ServerName" value="S7200.OPCServer"/>
  </appSettings>
</configuration>