<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sort1Port" value="11"/>
    <add key="sort2Port" value="4"/>
    <add key="sort3Port" value="5"/>
    <add key="ReaderComScan" value="com12"/>
    <add key="ReadTxPowerScan" value="1500"/>
    
    <add key="ReaderComSort1" value="com9"/>
    <add key="ReadTxPowerSort1" value="1500"/>
    
    <add key="ReaderComSort2" value="com13"/>
    <add key="ReadTxPowerSort2" value="1500"/>
    
    <add key="ReaderComSort3" value="com12"/>
    <add key="ReadTxPowerSort3" value="1400"/>
    <!--<add key="ServerName" value="Matrikon.OPC.Simulation"/>-->
    <add key="ServerName" value="S7200.OPCServer"/>
  </appSettings>
</configuration>